* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    background-color: #EFF2F1;
    
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;


}

#cart-booking {
    display: flex;
    padding-right: 20px;
    padding-top: 5px;
}

#cart-booking a{
    color: black;
    text-decoration: none;
    font-size : 14px;
    font-weight: 500;
}

#logoTickethack {
    padding-left: 20px;
}

#logoTickethack a {
    color :#50a790;
    font-size: 25px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

#bookingsButton {
    margin-left: 30px;

}

#mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myBookings {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#totalSection {
    width: 50%;
    background-color: #00153E;
    color: white;
    border-radius: 0px 0px 5px 5px;

}

.tripItem {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EEEE;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}

.tripItem * {
    margin: 0;
    padding: 0;
}

#tripList {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titleMyCart{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 30px;
}

#purchaseButton {
    background-color: #50a790;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#total {
    padding-top: 5px;
}

#emptyCart {
    width: 50%;
    height : 15%;
    background-color: white;
    border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#enjoy {
    color : #50a790;
    font-size: 15px;
    padding: 20px;
    border-top: 1px solid black;
}
